a {
    text-decoration: none;
}

.nav {
    display: none;
    position: absolute;
    width: 253px;
    z-index: 5;
}

.nav.active {
    display: flex;
}

.nav-item {
    list-style: none;
    text-align: left;
    font-family: 'Inter', sans-serif;
    color: black;
}

.darkLogo {
    height: 80px;
    text-align: center;
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 253px;
    background-color: #01E2BA;
}

.closebtn-container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    background-color: #01E2BA;
    border: none;
}

.closebtn {
    font-size: 36px;
    background-color: transparent;
    border: none;
}

.closebtn:hover {
    cursor: pointer;
}

#closebtn {
    text-align: left;
}

.top-nav {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 450px;
}

.ul-top {
    padding-left: 0;
    height: 200px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.bottom-nav {
    height: 80px;
    margin: 200px 60px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

