h2 {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;

    color: white;

}

.dateMenu {
    position: absolute;
    width: 329px;
    height: 44px;
    left: 23px;
    top: 200px;

    background: #f1f1f1;
    border: 1px solid #c1b9b9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.01);
    border-radius: 7px;

}

.date-label {
    position: absolute;
    
    height: 15px;
    left: 26.5px;
    top: 170px;

    
}

.dropdown {
    position: absolute;
    width: 329px;
    height: 44px;
    left: 23px;
    top: 296px;

    background: #f1f1f1;
    border: 1px solid #c1b9b9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.01);
    border-radius: 7px;

}

.vehicle-label {
    position: absolute;
    
    height: 15px;
    left: 26.5px;
    top: 266px;

}

.seeCarbonbutton {
    background-color: #13E3C1;
    border-radius: 14px;

    position: absolute;
    width: 237px;
    height: 35px;
    /* Maybe change this below, looks a little off-center */
    left: 66.18px;
    top: 469px;

    /* Might not need this */
    /* display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 8px 35px;
   gap: 8px; */

    box-sizing: border-box;

}

.userDistance {
    box-sizing: border-box;

    position: absolute;
    width: 329px;
    height: 44px;
    left: 23.68px;
    top: 379.78px;

    background: #f1f1f1;
    border: 1px solid #c1b9b9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.01);
    border-radius: 7px;
}

.distance-label {
    position: absolute;
    
    height: 15px;
    left: 26.5px;
    top: 350px;

}