.contactUs-container {
    color: #D8D7D7;
    padding: 0 35px;
}

.teamContacts {
    font-size: 25px;
    color: #D8D7D7;
}

.teamNames li{
    list-style: none;
}

.teamNames li a  {
    color:white;
    text-shadow: 2px 1px black;
}

.teamNames li a:hover {
    cursor:pointer;
    color: #D8D7D7;
}