.circleContainer{
    display: flex; 
    flex-direction: column;
    margin: 2% auto; 
    border-radius: 50%;
    border: 2px solid black; 
    width: 20em; 
    height: 20em;
justify-content: center;    
align-items: center;
}

.section {
    color: #13E3C1;
}