.Co2Body {
    height: 70vh;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.circleContainer{
    display: flex; 
    flex-direction: column; 
    width: 20rem; 
    height: 18rem;
    justify-content: center;    
    align-items: center;
    background-image: url(../../../public/Assets/GRADIENT.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.circleText{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #01E2BA; 
    font-weight:700;
    font-size: 5rem;
    text-align: center;
    z-index: 1; 
    text-shadow: 2px 1px rgba(0, 0, 0, 0.5);
}

.kgText {
    margin: 0;
    padding:0;
    text-align: center;
    font-size: 1.3rem;
    width: 4rem;
}

.buttonsContainer {
    height: 180px;
    width: 200px;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login {
    background-color: #01E2BA;
}

.saveResult {
    font-size: 16px;
    background-color: #01E2BA;
    border: black;
    padding: 8px 33px;
    border-radius: 13px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
    margin: 2%;
}

.newtripBtn {
    margin: 2%; 
}

.learnMore {
    margin: 2%;
    color: #01E2BA;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.5);
}