* {
  box-sizing: border-box;
}

header {
  padding: 30px 15px 0;
  margin: 0;
}

.hamburger-icon {
  background-color: transparent;
  border: none;
  color: #01E2BA;
}

.hamburger-icon span {
  font-size: 35px;
}

.hamburger-icon:hover {
  cursor: pointer;
}

.homeLogo-container {
  display: flex;
  justify-content: center;
}

.homeLogo {
  width: 70vw;
}

.logIn {
  box-sizing: border-box;
}