* {
  box-sizing: border-box;
}

header {
  /* padding: 30px 15px 0; */
  padding:0;
  margin: 0;
}

.hamburger-icon {
  background-color: transparent;
  border: none;
  color: #01E2BA;
  padding: 30px 15px;
}

.hamburger-icon span {
  font-size: 35px;
}

.hamburger-icon:hover {
  cursor: pointer;
}

.homeLogo-container {
  display: flex;
  justify-content: center;
}

.homeLogo {
  width: 70vw;
}

@media only screen and (max-width: 300px) {
  .homeLogo {
    width: 60vw;
  }
}

@media only screen and (min-width: 992px) {
  .homeLogo {
    width: 30vw;
    margin-bottom:20px;
  }
}

@media only screen and (min-width: 1200px){
  .homeLogo {
    width: 35vw;
    margin:0;
  }
}

.logIn {
  box-sizing: border-box;
}